* {
    image-rendering: pixelated;
    font-family: "GrapeSoda", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "GrapeSoda";
    src: url("assets/font/GrapeSoda.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.tama {
    --frame-w: 32px;
    --frame-h: 32px;
    --frames: 19;
    --scale: 8;

    background-image: url("assets/idle/idle-tama-19.png");
    background-repeat: no-repeat;
    background-size: calc(var(--frame-w) * var(--frames) * var(--scale)) calc(var(--frame-h) * var(--scale));
    display: inline-block;
    width: calc(var(--frame-w) * var(--scale));
    height: calc(var(--frame-h) * var(--scale));
    animation: sprite-anim 1.9s steps(19) infinite;
}

@keyframes sprite-anim {
    to { background-position-x: calc(-1 * var(--frame-w) * var(--frames) * var(--scale)); }
}

@media (max-width: 600px) {
    .timename {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
}



.info {
    width: 100%;
}

.health {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.health-bar {
    height: 12px;
    background-color: black;
    width: 40%;
}

.heart-icon {
width: 20px;
height: 20px;    
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 100%;

}

.invbar {
    display: flex;
    width: 80%;
    height: 50%;
    padding: 14px 11px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 17px;
    }

.border-inv {
    display: flex;
    width: 73px;
    height: 73px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    background: url("assets/icon.png");
    background-size: cover;
}

.invpic {
    width: 50px;
    height: 50px;
}

.tama { --scale: 8;
 
margin-top: 25%;
margin-bottom: 25%; }

}

@media (min-width: 600px) {

.timename {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 30px;
}

.health {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.health-bar {
    height: 16px;
    background-color: black;
    width: 300px;
}

.heart-icon {
width: 24px;
height: 24px;    
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    height: 80%;
    width: 100%;

}

.invbar {
    display: flex;
    width: 647px;
    height: 400px;
    padding: 14px 11px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    }

.border-inv {
    display: flex;
    width: 90px;
    height: 90px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    background: url("assets/icon.png");
    background-size: cover;
}
.tama { --scale: 10;
}



